html {
  scroll-behavior: smooth;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
}

.nav {
  /* display: flex;
  justify-content: space-between; */
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  margin: 8px 0 0px;
  padding: 0;
  column-gap: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-trailing-text {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  position: absolute;
  top: 243px;
  left: 80px;
}

.header__span {
  display: block;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  position: absolute;
  top: 435px;
  left: 80px;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

/* .card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  width: 360px;
  height: 420px;
  box-sizing: border-box;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
} */

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  height: 100vh;
}

.recipes__title {
  position: absolute;
  top: 100px;
  left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  position: absolute;
  top: 176px;
  left: 80px;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  color: #fff;
  margin: 0;
  padding: 60px 80px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__column {
  padding: 0;
}

.footer__column_content_hours {
  margin: 0 0 0 auto;
}

.footer__column_content_social {
  margin: 0 0 0 80px;
}

.footer__logo {
  width: 58px;
  height: 80px;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: flex;
  padding: 0 0 16px;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding: 0;
}

.footer__copyright {
  display: flex;
  margin: 100px 0 0;
  padding: 0;
}
